<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UsersView</title>
</head>
    <body>
        <h1>Users</h1>
            <table border="2">
                <tr>
                    <th>Name</th><th>Lastname</th><th>Country</th><th>Age</th><th  colspan="2">Options</th>
                </tr>
                <th:block th:each="user:${users}">
                    <tr>
                        <td th:text="${user.getName()}"></td>
                        <td th:text="${user.getLastName()}"></td>
                        <td th:text="${user.getCountry()}"></td>
                        <td th:text="${user.getAge()}"></td>
                        <td>
                            <form action="update" method="post" >
                                <button name="user" th:value="${user.getId()}">Update</button>
                            </form>
                        </td>
                        <td>
                            <form action="delete" method="post" >
                                <button name="Id" th:value="${user.getId()}">Delete</button>
                            </form>
                        </td>
                    </tr>
                </th:block>
            </table>
        <a href="add"><button>Add</button></a>
    </body>
</html>